*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    font-family: 'Akaya Kanadaka', cursive;  
   }
   body{
       width: 100vw;
       height: 100vh;
       display: flex;
       justify-content: center;
       align-items: center;
       overflow: hidden;
      flex-direction: column;
      background-color: black;

   }
   .container{
       background-color: black;
       position: relative;
       /* bottom: 50px; */
       width: 600px;
       height: 300px;
      
       display: flex;   
       -webkit-box-reflect: below 3px linear-gradient(transparent,rgba(19, 2, 2, 0.2));
       z-index: -1;
       
   }
   
   img{
       width: 300px;
       height: 300px;
       margin: 0px;
      
   }
   .btn{
       margin-top: 10px;
       padding: 8px;
       outline: none;
       background-color: black;
       color: rgb(111, 230, 88);
       border: 1px solid rgb(126, 226, 106);
       font-weight: bold;
       font-size: 20px; box-shadow: 0px 1px 3px white; 
       cursor: pointer;
   }
  

   h2{
       margin-top: -100px;
       color: white;
       text-shadow: 0 0 3px rgb(255, 255, 255,0.5), 0 0 5px #0000FF;
       font-size: 70px;
       border-bottom: 5px solid white;
   }
   .dice{
       text-align: center;
       color: white;
       font-size: 30px;
       
   }
   p{
       margin-top: -40px;
      
       font-size:30px;
   }